{# Completed by: Markus Valvur #}
<!DOCTYPE html>
<html>
<head>
    <title>Twitter Service Homework</title>
</head>
<body align="center">
    {% if condition%}
    <h1>Authorization</h1>
    <div><p>{{ask_redir}} <a href={{url}} target="_blank"}>{{url}}</a></p></div>
    <div>
        <form method="POST" action="/get_pin">
            <label for="pin_number">Enter you PIN here</label>
            <input type="text" name="pin_number">
            <button type="submit">Submit</button>
        </form>
    </div>
    {% else %}
    <h1>Create or Delete a Tweet</h1>
    <div>
        <form method="POST" action="/create_tweet">
            <label for="tweet_text">Create a Tweet:</label>
            <input type="text" name="tweet_text">
            <button type="submit">Create</button>
        </form>
    </div>
    <div style="margin-top:20px">
        <form method="POST" action="/delete_tweet">
            <label for="tweet_id">Delete a Tweet (by ID):</label>
            <input type="text" name="tweet_id">
            <button type="submit">Delete</button>
        </form>
    </div>
    {% endif %}
</body>
</html>
